@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color:#1a1a1a;
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.all{

    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

#kocholo {
    padding: 4px;
    padding-left: 8px;
    padding-right: 8px;
    border: #E0E3E6 2px solid;
    border-radius: 25px ;
    margin-bottom: -16px;

}
.title {

    color :#E0E3E6;
    display:flex;
    flex-direction: column;
    align-items: center;

}

.radio-inputs {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    border-radius: 28px;
    box-sizing: border-box;
    padding: 0.25rem;
    width: 300px;
    font-size: 14px;
}

.radio-inputs .radio {
    flex: 1 1 auto;
    text-align: center;
}

.radio-inputs .radio input {
    display: none;
}

.radio-inputs .radio .name {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 25px ;
    border: none;
    padding: .5rem 0;
    color: #E0E3E6 ;
    transition: all .15s ease-in-out;
}


.radio-inputs .radio input:checked+.name {
    background-color: #262626;
    font-weight: 600;
    scale: 1.06;
}

.inputrow{
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
    width: 300px;

}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.inp{
    border: none;
    width:75px;
    height: 30px;
    background-color: #282828;
    border-radius: 70px;
    padding: 5px;
    padding-top: 8px;
    padding-left: 9px;
    color: #E0E3E6;
    height: 37px;
    font-size: 14px;
    padding-left: 20px;
}

.inp:focus{
    outline: none;
    border: #E0E3E6 2px solid;
    scale: 1.04;
}

.width{
    background-color: #282828;
    border-radius: 70px;
    padding-left: 12px;
}

.height {
    background-color: #282828;
    border-radius: 70px;
    margin-left: 10px;
    padding-left: 12px;
}


.forokon {
    border: none;
    margin-top: 36px;
    border-radius: 25px;
    width: 500px;
    background-color: #262626;
    resize: vertical;
    color: #E0E3E6;
    padding: 10px;
    padding-right: 15px;
    padding-left: 15px;
    font-size: 17px;
    resize: vertical;
    min-height: 150px;
    max-height: 500px;
    overflow: hidden;
}

.forokon:focus {
    outline: none;
    border: #E0E3E6 2px solid;
}

.button {
    position: relative;
    background-color: #727c97;
    color: #E0E3E6;
    font-size: 17px;
    font-weight: 600;
    border-radius: 25px;
    width: 120px;
    height: 47px;
    border: none;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.3s cubic-bezier(0.0, 1, 0.0, 1);
    margin-top: 13px;
}

.button:active {
    scale: 0.90;
}

#generatedImage {
    border-radius: 5px;
    border: #E0E3E6 solid 1px;
    max-width: 90%;
    max-height: 570px;
    display: flex;
    margin-right: auto;
    margin-left: auto;
}

.foot {
    font-size: 13px;
    display: flex;
    justify-content: center;
    color: #dddddd;
    padding-top: 70%;
}
@media (max-width: 560px) {

    .forokon {
        width: 400px;
    }

}

@media (max-width: 404px) {

    .forokon {
        width: 380px;
    }

}
